<!--/views/homepage.erb-->
<body>
  <h1>Currency pairs</h1>
  
  <ul> 
    <%@currencies_hash.each do |currency_name,country| %>
    <li><a href="/<%=currency_name%>">Convert 1 <%=currency_name%> to...</a></li>
  </ul>
  <%end%>
</body>
